<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>CRUD Relacional</title>
</head>
<body>
    <h1>Estou sendo renderizado</h1>
    <a href="pessoa">Ir para pessoas</a>
    <a href="cadastarPessoa">cadastrar pessoa</a>
</body>
</html>