<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoas</title>
</head>
<body>
    <h1>Exibindo pessoas</h1>

    {{#each pessoas}}
      Nome: {{nome}}  - <a href="pessoa/{{id_pessoa}}">Exibir enderecos</a> <br>
    {{/each}}

    <a href="/"> Voltar </a>
</body>
</html>